<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<div class="container">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Settings</h5>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <form th:action="@{/settings}" method="post">
                            <table>
                                <tr><th>Type</th><th>Factor</th></tr>

                                    <tr>
                                        <td>bufferTime</td>
                                        <td><input th:value="${settings.bufferTime}" th:name="bufferTime" type="text" ></td>
                                    </tr>
                                    <tr><td>timeframeEmission</td>
                                        <td><input th:value="${settings.timeframeEmission}" th:name="timeframeEmission" type="text" ></td></tr>
                                    <tr><td>retryDelay</td>
                                        <td><input th:value="${settings.retryDelay}" th:name="retryDelay" type="text" ></td></tr>
                                    <tr><td>retryCount</td>
                                        <td><input th:value="${settings.retryCount}" th:name="retryCount" type="text" ></td></tr>



                            </table>
                            <input type="submit" value="Update settings">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>